.navBar {
  color: white;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: linear-gradient(45deg, #022f40, #38aecc);
}

#links {
  display: flex;
  gap: 40px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}

.forChange:hover{
  background-color: rgb(117, 227, 100);
  span{
    color: black;
  }
}


#contact {
  justify-content: center;
  align-items: center;
  margin-left: 500px;
}

#mainDiv {
  width: 80vw;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
  margin: auto;
  margin-top: 10px;
}

.subDiv {
  background-color: black;
  color: white;
  border: 1px solid grey;
  width: 380px;
  border-radius: 20px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  p {
    color: gray;
    font-size: large;
  }
}

.subDiv:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

#hero{
    margin-top: 70px;
}

.contact-wrapper {
  display: flex;
  padding: 40px;
  border: 2px solid #e6e6e6;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(13, 13, 13, 0.1);
  margin-top: 60px;
}

.contact-box {
  background: #000;
  color: #fff;
  border-radius: 18px;
  padding: 40px;
  width: 75%;
  height: 100%;
}

.contact-input {
  width: 100%;
  height: 42px;
  background: transparent;
  border: none;
  border-bottom: 2px solid black !important;
  font-size: 16px;
  padding: 6px 0;
  outline: none;
  color: black;
}

textarea.contact-input {
  height: 120px;
  resize: none;
}

#contactFormBlock > label,
#contactFormBlock .w-50 label {
  font-weight: 600;
}

.interest-options label {
  color: #000;
}

.interest-options input[type="radio"] {
  accent-color: #9bc5e6;
}

.contact-btn {
  background: #000;
  color: #fff !important;
  padding: 10px 12px;
  width: 120px;
  font-size: 12px;
  border-radius: 6px;
  border: none;
  transition: 0.3s;
  margin-top: 10px;
}

.contact-btn:hover {
  background: #484747;
}
