.navBar {
  background-color: rgba(255, 255, 255, 0.937);
  color: black;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

#links {
  display: flex;
  gap: 40px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}

#signIn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  width: 100px;
  margin-right: 15px;
  cursor: pointer;
}

#signIn:hover {
  background-color: rgb(176, 173, 173);
}
#block:hover {
  box-shadow: 2px 2px rgb(169, 166, 166);
}

#block {
  border: black;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
}

#welcome {
  display: flex;
  margin-left: 200px;
  margin-top: 50px;
  font-size: larger;
  align-items: center;

  p {
    color: grey;
    font-size: x-large;
  }

  #photo {
    margin-left: 100px;
    img {
      border-radius: 20px;
    }
  }

  #email {
    input {
      width: 400px;
      height: 40px;
      margin-top: 10px;
      border: 1px solid grey;
      border-radius: 5px;
      margin-right: 15px;
    }
    #requireOffer {
      height: 42px;
      width: 250;
      padding: 10px;
      border-radius: 5px;
      color: white;
      background-color: black;
    }

    p {
      color: grey;
      font-size: large;
    }
  }
}

#requireOffer:hover {
  box-shadow: 2px 2px rgb(183, 178, 178);
}

#logos {
  margin-top: 100px;
  p {
    color: rgb(91, 90, 90);
    font-weight: bold;
    margin-bottom: 30px;
    font-size: large;
  }
}

#skills {
  margin-top: 100px;
  margin-bottom: 100px;
  h1 {
    font-size: xx-large;
  }
  #p1 {
    color: grey;
    font-size: larger;
  }
}

#mainDiv {
  width: 80vw;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
  margin: auto;
}

.subDiv {
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  p {
    color: gray;
    font-size: large;
  }
}

#projects {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  p {
    color: gray;
    font-size: larger;
  }
}

#myProjects {
  width: 90vw;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 50px;
  margin: auto;
}

.projects {
  padding: 10px;
  justify-content: center;
  align-items: center;
  p {
    color: gray;
    font-size: large;
  }
  button {
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
  }
}

#myResume {
  display: flex;
  margin-top: 100px;
  margin-left: 200px;
  gap: 300px;
  #resume {
    p {
      color: gray;
      font-size: large;
    }
    button {
      color: black;
      font-size: x-small;
      font-weight: bold;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: white;
      cursor: pointer;
    }
  }

  #viewButton:hover {
    background-color: rgb(191, 187, 187);
  }

  #list {
    padding: 25px;
    color: gray;
    font-size: large;
  }
}

#clients {
  text-align: center;
  margin-top: 100px;
  p {
    color: gray;
    font-size: larger;
  }
}

#appDevelopment {
  display: flex;
  margin-top: 100px;
  margin-left: 300px;
  gap: 200px;
  h1 {
    font-size: xx-large;
  }
  p {
    color: gray;
    font-size: larger;
  }

  img {
    border-radius: 20px;
    width: 350px;
  }

  span {
    color: gray;
  }

  #p1 {
    margin-bottom: 0px;
    color: black;
    font-weight: bold;
  }
}

#profileRow {
  display: flex;
  gap: 20px;
  margin-top: 15px;
  img {
    height: 50px;
    width: fit-content;
    border-radius: 5px;
    opacity: 50%;
  }
}

#profileRow:hover {
  img {
    opacity: 100%;
  }
}

.divider {
  display: inline-block;
  width: 2px;
  height: 50px;
  background-color: rgb(209, 205, 205);
}

#popularClients {
  text-align: center;
  margin-top: 200px;
  p {
    color: gray;
    font-weight: bold;
    font-size: large;
  }
}

#trustedClients {
  margin: 60px 130px;
  filter: grayscale(100%);
}

#contactUs {
  text-align: center;
  margin-top: 150px;
  h1 {
    font-size: xx-large;
  }
  p {
    color: gray;
    font-size: large;
  }
}

#contactInfo {
  margin-top: 100px;
  border: 1px solid rgb(207, 202, 202);
  box-shadow: 2px 2px 2px gray;
  border-radius: 10px;
  display: flex;
  gap: 100px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  margin-bottom: 300px;
}

#info {
  border: 1px solid black;
  padding: 80px;
  border-radius: 10px;
  height: 400px;
  width: 500px;
  color: white;
  background-color: rgb(34, 34, 34);
  p {
    color: gray;
    margin-bottom: 50px;
  }
}

#form {
  label {
    color: rgb(29, 118, 153);
  }

  input {
    border: none;
    border-bottom: 1px solid rgb(29, 118, 153);
    margin-top: 20px;
    width: 300px;
  }
  button {
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    margin-left: 500px;
    margin-top: 100px;
  }
}

#form:hover {
  button {
    box-shadow: 2px 2px 2px gray;
  }
}

#nameField {
  display: flex;
  gap: 30px;
}

#emailField {
  margin-top: 25px;
  input {
    width: 635px;
  }
}

#intrested {
  margin-top: 25px;
  input {
    width: 50px;
    align-items: left;
  }
  span {
    font-size: large;
  }
}

#textBox {
  margin-top: 35px;
  textarea {
    border: none;
    border-bottom: 1px solid rgb(29, 118, 153);
    margin-top: 50px;
    width: 635px;
  }
}

.endBar {
  background-color: white;
  color: black;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  p {
    color: gray;
    font-size: large;
  }
  button {
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 8px;
  }
}
.endBar:hover {
  button {
    box-shadow: 2px 2px rgb(161, 159, 159);
  }
}

#linkss {
  display: flex;
  gap: 40px;
  font-size: large;
  cursor: pointer;
}
