.flag {
  position: absolute;
  width: 15px;
  height: 15px;
  transform: translate(-50%, -100%);
}

.flag:hover {
  filter: hue-rotate(300deg) saturate(200%);
  cursor: pointer;
}

#dropdown{
    width: 550px;

    button{
        width: 100px;
    }
}
